.app {
  height: 100%;
  flex-direction: column; 
}

@media (aspect-ratio: 4/3) {
}

@media (max-aspect-ratio: 1/1) {
  .app .textarea:first-child {
    height: 40%;
  }
}

@media (min-aspect-ratio: 1/1) {
  .app {
    flex-direction: row;
  }
  .app .textarea:first-child {
    width: 40%;
  }
}

.app textarea {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}